@using DataJuggler.Blazor.Components
@using BlazorStyled

<Styled @bind-Classname=@CheckMarkContainerStyle>
    position: fixed;
    top: @CheckMarkTopStyle;
    float: left;
    height: 32px;
    min-height: 32px;
    width: 32px;
    left: 36%;
</Styled>
<Styled @bind-Classname=@CheckMarkStyle>
    width: 32px;
    height: 32px;
    min-height: 32px;
    position: relative;
    top: 0px;
    left: 0px;
    background-size: 100% 100%;
    background-image: url(@CheckMarkImage);
    z-index: 120;
</Styled>

<div class="changepasswordcomponent">
    <div class="changepasswordmessage">
        To change your password, you will be emailed a 6 digit code. This code is only valid for 10 minutes.<br />
    </div>
    <div class="height10"></div>
    <ValidationComponent Enabled="true" Caption="Email:" HeightUnit="px" Height=24 Name="EmailComponent"
        LabelClassName="down4 right8" Unit="%" Width="20" Position="relative" Top="48" Parent="this"
        Column1Width="8" Column2Width="40" Text="@Email" SetFocusOnFirstRender="true">
    </ValidationComponent>
    <button class="@SendButtonStyle right18 down32" title="Send A 6 Digit Code To Verify" @onclick="SendEmailCode"></button><br />
    <div class="height10"></div>
    <ValidationComponent Caption="Code:" HeightUnit="px" Height=24 Name="CodeComponent" Parent="this"
        LabelClassName="down4 right8" Unit="%" Width="20" Position="relative" Top="44"
        Column1Width="8" Column2Width="8">
    </ValidationComponent>
    <button class="@VerifyButtonStyle down48" title="Verify The 6 Digit Code That Was Emailed" @onclick="Verify"></button><br />
    <div class="@CheckMarkContainerStyle">
        <div class="@CheckMarkStyle"></div>
    </div>
    <div class="down64">
        <ValidationComponent Enabled="@EnablePasswordControls" Name="PasswordComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Parent="this" LabelClassName="textalignright  down2 right4"
            Caption="Password:" LabelColor="black" LabelFontSize="16"
            MinimumLength="8" HeightUnit="vh" Height=3.4 MarginBottom="2"
            MaximumLength="20" PasswordMode="true" TextBoxClassName="up1 left2"
            IsRequired="true" ValidationMessage="You must enter a password.">
        </ValidationComponent>
        <ValidationComponent Enabled="@EnablePasswordControls" Name="ConfirmPasswordComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Parent="this" LabelClassName="textalignright  down2 right4"
            Caption="Password:" LabelColor="black" LabelFontSize="16"
            MinimumLength="8" HeightUnit="vh" Height=3.4 MarginBottom="2"
            MaximumLength="20" PasswordMode="true" TextBoxClassName="up1 left2"
            IsRequired="true" ValidationMessage="You must enter the confirm password.">
        </ValidationComponent>
    </div>
    <div class="changepasswordbuttons">
        @if (EnablePasswordControls)
        {
            <button class="@SaveButtonStyle down64 right128" @onclick="SaveNewPassword"></button>
        }
        else
        {
            <button disabled class="@SaveButtonDisabledStyle down64 right128"></button>
        }
        <button class="@CancelButtonStyle down64 right128" @onclick="Cancel"></button>
    </div>
    @if (MessageColor == "red")
    {
        <div class="down96 colorred">
            @StatusMessage
        </div>
    }
    else
    {
        <div class="down96 colorblack">
            @StatusMessage
        </div>
    }

    @if (ShowProgress)
    {
        <div class="progresscontainer3">
            <div class=@ProgressStyle>
                <span class="text-white">@PercentString</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
    }
</div>
<Sprite Subscriber=this Visible="true" Interval="250" Position="fixed"
        XPosition="-500" YPosition="100" Width="120" Height="120" ZIndex="-1">
</Sprite>