@using BlazorStyled
@using ObjectLibrary.Enumerations
@using ObjectLibrary.BusinessObjects
@using DataJuggler.Blazor.Components

<Styled @bind-Classname="@FolderStyle">
    width: 16vw;
    height: 5vh;
    min-height: 4vh;
    position: fixed;
    top: @TopStyle;
    left: 2vw;
    background-size: 100% 100%;    
    z-index: 120;
</Styled>

<div class="@FolderStyle foldercontainer">    
    @if ((RenameFolderMode) && (HasFolderBeingRenamed) && (FolderBeingRenamedId == folder.Id))
    {
        <div class="">
            <ValidationComponent Name="RenameFolderTextBox" Parent="this" Unit="px"
                SetFocusOnFirstRender=true Position="relative" HeightUnit="px" Text="@folder.Name" 
                Width="160" Column1Width="48" Caption="Name:" LabelClassName="colorgray204 left2">
            </ValidationComponent>
        </div>
    }
    else
    {
        <button class="copybutton" title="Copy This Folder's URL'" @onclick="() => CopyFolder(folder.Id)"></button>
        <button class="removebutton2" title="Remove This Folder" @onclick="() => DeleteFolder(folder.Id)"></button>
        @if ((folder.Selected) && (ScreenType != ScreenTypeEnum.MainScreen))
        {
            @if ((HasLoggedInUser) && (folder.Name != "Home") && (LoggedInUser.IsGalleryOwner))
            {  
                <button class="imagefolder"><span class="foldernametext colortomato fontsite" @ondblclick="() => RenameFolder(folder)">@folder.Name</span></button>
            }
            else
            {
                <div class="displayinlineblock width16"></div>
                <button class="imagefolder"><span class="foldernametext colortomato fontsite">@folder.Name</span></button>
            }
        }
        else
        {
            <button class="imagefolder" @onclick="() => FolderSelected(folder.Id)"><span class="foldernametext colorgray204 fontsite">@folder.Name</span></button>
        }
    }
</div>