@namespace DataJuggler.BlazorGallery.Components
@using DataJuggler.UltimateHelper
@using DataJuggler.Blazor.Components 

<div class="signupcontainer">
    <div class="signupcontrols">
        Sign Up For Free
        <div class="bigline"></div>
        <ValidationComponent Name="UserNameComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Caption="User Name:" LabelColor="black" LabelFontSize="16" IsRequired="true"
            LabelClassName="textalignright down2 right4" MinimumLength="5" SetFocusOnFirstRender="true"
            HeightUnit="vh" Height=3.4 MaximumLength="20" TextBoxClassName="up1 left2" 
            Parent="this" MarginBottom="2" IsUniqueCallbackRequired="true"
            ValidationMessage="User Name must be between 5 and 20 characters">
        </ValidationComponent>        
       <ValidationComponent Name="NameComponent" Visible="true" ZIndex="40" Unit="vw"            
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Caption="Name:" LabelColor="black" LabelFontSize="16" IsRequired="true"
            HeightUnit="vh" Height=3.4 MaximumLength="80" MarginBottom="2"
            LabelClassName="textalignright  down2 right4" TextBoxClassName="up1 left2"            
            Parent="this"  IsUniqueCallbackRequired="false"                             
            ValidationMessage="User Name must be between 5 and 20 characters">
        </ValidationComponent>        
        <ValidationComponent Name="EmailAddressComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Caption="Email:" LabelColor="black" LabelFontSize="16" IsRequired="false"
            HeightUnit="vh" Height=3.4 MaximumLength="80" MarginBottom="2"
            LabelClassName="textalignright  down2 right4" TextBoxClassName="up1 left2"            
            Parent="this"  IsUniqueCallbackRequired="true">
        </ValidationComponent>        
        <ValidationComponent Name="PasswordComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Parent="this" LabelClassName="textalignright  down2 right4" 
            Caption="Password:" LabelColor="black" LabelFontSize="16"
            MinimumLength="8" HeightUnit="vh" Height=3.4 MarginBottom="2"
            MaximumLength="20" PasswordMode="true" TextBoxClassName="up1 left2"
            IsRequired="true" ValidationMessage="You must enter a password.">
        </ValidationComponent>
        <ValidationComponent Name="ConfirmPasswordComponent" Visible="true" ZIndex="40" Unit="vw"
            Width="@ControlWidth" Column1Width=@Column1Width TextBoxWidth=@Column2Width
            Parent="this" LabelClassName="textalignright  down2 right4" 
            Caption="Password:" LabelColor="black" LabelFontSize="16"
            MinimumLength="8" HeightUnit="vh" Height=3.4 MarginBottom="2"
            MaximumLength="20" PasswordMode="true" TextBoxClassName="up1 left2"
            IsRequired="true" ValidationMessage="You must enter the confirm password.">
        </ValidationComponent>        
    </div>
    <div class="joinbuttonscontainer">
        <button class="@JoinButtonStyle" @onclick="SignUp">           
        </button>
        <button class="@CancelButtonStyle" @onclick="Cancel">           
        </button>
    </div>
    
</div>
@if (TextHelper.Exists(ValidationMessage))
{
    <div class="validationmessage">
        @ValidationMessage
    </div>
 }
 
 @if (ShowProgress)
 {
    <div class="progresscontainer2">
         <div class=@ProgressStyle>
            <span class="text-white">@PercentString</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
     </div>
}
<Sprite Subscriber=this Visible="true" Interval="50" Position="fixed"
        XPosition="-500" YPosition="100" Width="120" Height="120" ZIndex="-1">
</Sprite>

                   
