@using BlazorStyled

<Styled @bind-Classname=@ImageContainerStyle>
    max-height: @HeightStyle;
    height: @HeightStyle;
    width: @ScaledDownWidthStyle;    
    border: none;
    background-color: transparent;
    position: relative;
</Styled>
<Styled @bind-Classname=@ImageStyle>
    height: 256px;
    width: 100%;
    object-fit: cover;
    border: none;
    background-color: transparent;
    background-image: url(@ImageRelativePath);
    background-size: 100% 100%;    
</Styled>
<Styled @bind-Classname=@FullScreenButtonStyle>
    background-image: url('../Images/ViewFullScreen.png');
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;    
    z-index: 100;
    position: absolute;
    right: 8px;
    bottom: 8px;
</Styled>
<Styled @bind-Classname=@ImageFooterContainerStyle>
    width: @ScaledDownWidthStyle;
    height: 24px;    
    position: relative;    
    top: -5px;    
</Styled>

@if ((HasLoggedInUser) && (HasSelectedFolder) && (SelectedFolder.UserId == LoggedInUser.Id) && (!LoggedInUser.ViewOnlyMode))
{  
    <div class="col">
        @if (ShowRemoveButton)
        {
            <button class="removebutton" title="Remove This Image" @onclick="() => DeleteImage(Image.Id)"></button>
        }
        <div class="@ImageContainerStyle ">
            <button class="@ImageStyle button" @onclick=Toggle></button>
            <button class="@FullScreenButtonStyle" title="View Larger Image" @onclick="() => ViewImage(Image)"></button>            
        </div>
    </div>
}
else
{
    <div class="col">
        <div class="@ImageContainerStyle ">
            <button class="@FullScreenButtonStyle imagecontentbutton" title="View Larger Image" @onclick="() => ViewImage(Image)"></button>
            <img class="@ImageStyle" src="@ImageRelativePath">
            <div class="@ImageFooterContainerStyle">                
                @if (LikeButtonEnabled)
                {
                    <button class="likebutton" @onclick=LikeImage></button>
                }
                else
                {
                    <button class="likebuttondisabled"></button>
                }
                <span class="likescount">@LikesCount</span>                
            </div>
        </div>
    </div>
}