@inherits LayoutComponentBase
@using ObjectLibrary.BusinessObjects
@using ObjectLibrary.Enumerations
@using DataJuggler.Blazor.Components
@using DataJuggler.Blazor.Components.Interfaces
@using DataJuggler.Blazor.FileUpload
@using BlazorStyled
@using DataJuggler.BlazorGallery.Components
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject ProtectedLocalStorage ProtectedLocalStore

<PageTitle>Blazor Gallery</PageTitle>

<Styled @bind-Classname=@NewFolderStyle>
    border: none;
    width: 280px;
    height: 32px;
    background-size: 100% 100%;
    background-color: transparent;
    position: fixed;
    top: @AddButtonTopStyle;
    left: 10.8%;
</Styled>
<Styled @bind-Classname=@AddButtonStyle>
    background-image: url('../Images/AddButton.png');
    border: none;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-color: transparent;    
    position: fixed;
    top: @AddButtonTopStyle;
    left: 16.8%;
</Styled>
<Styled @bind-Classname=@BlueButton>
    background-image: url('../Images/UploadButtonBlue.png');
    position: fixed;        
    left: 2%;
    top: @TopStyle;
    background-size: 100% 100%;
    width: 120px;
    height: 32px;
    cursor: pointer;
</Styled>
<Styled @bind-Classname="@CheckMarkContainerStyle">
    position: fixed;
    top: @CheckMarkTopStyle;
    float: left;
    height: 32px;
    min-height: 32px;
    width: 32px;
    left: 1px;    
</Styled>
<Styled @bind-Classname="@CheckMarkStyle">
    width: 32px;
    height: 32px;
    min-height: 32px;
    position: relative;
    top: 0px;
    left: 0px;    
    background-size: 100% 100%;
    background-image: url(@CheckMarkImage);
    z-index: 120;
</Styled>

<div class="page">
    @if ((!HasLoggedInUser) || (LoggedInUser.ViewOnlyMode))
    {
        @if (ScreenType == ScreenTypeEnum.Login)
        {
            <Login Parent=this></Login>
        }
        else if (ScreenType == ScreenTypeEnum.SignUp)
        {
            <Join Parent=this></Join>
        }        
        else
        {
            @if ((HasLoggedInUser) && (LoggedInUser.ViewOnlyMode))
            {
                @if (HasSelectedFolder)
                {
                    <h5 class="topleft">Viewing Gallery @LoggedInUser.Name/@SelectedFolder.Name</h5>
                }
            }
            @if (ScreenType != ScreenTypeEnum.ViewImage)
            {
                <div class="topright">
                    <button class="loginbutton" title="Login with your UserName or email address and password." @onclick="Login"></button>
                    <button class="joinbutton" title="Sign up to create your own gallery." @onclick="Join"></button>
                </div>
            }
        }
    }
    <div class="fixedsidebar">
        <div class="logo"></div>           
        @if (HasLoggedInUser)
        {
            <div class="folders">
                <div class="colorgray204 fontbold fontsize24 right64 fontsite">
                    Folders
                </div>
                <div class="height8"></div>
                @if (HasFolders)
                {
                    int buttonNumber = 0;

                    foreach (Folder folder in Folders)
                    {  
                        buttonNumber++;

                        <div class="nav-item px-3">
                        <button class="copybutton down16 right16" title="Copy This Folder's URL'" @onclick="() => CopyFolder(folder.Id)"></button>                            
                        @if ((folder.Name != "Home") && (folder.UserId == LoggedInUser.Id) && (!LoggedInUser.ViewOnlyMode))
                        {
                            <button class="removebutton down16 right16" title="Remove This Folder" @onclick="() => DeleteFolder(folder.Id)"></button>
                        }
                        else
                        {
                            <div class="displayinlineblock width16"></div>
                        }
                        @if ((RenameFolderMode) && (HasFolderBeingRenamed) && (FolderBeingRenamedId == folder.Id))
                        {
                            <div class="right60 up14">
                                <ValidationComponent Name="RenameFolderTextBox" Parent="this" Unit="px"
                                    SetFocusOnFirstRender=true Position="relative" HeightUnit="px" Text="@folder.Name" 
                                    Width="160" Column1Width="48" Caption="Name:" LabelClassName="colorgray204 left2">
                                </ValidationComponent>
                            </div>
                        }
                        else
                        {
                            @if (folder.Selected)
                            {
                                    <button class="imagefolder right16"><span class="fontsize14 colortomato fontbold right56 text-nowrap fontsite" @ondblclick="() => RenameFolder(folder)">@folder.Name</span></button>
                            }
                            else
                            {
                                    <button class="imagefolder right16" @onclick="() => FolderSelected(folder.Id)"><span class="fontsize14 text-nowrap colorgray204 right56 fontbold fontsite">@folder.Name</span></button>
                            }
                        }
                    </div>
                    <div class="height16 displayblock"></div>
                }
                <div class="sidebarfooter">version 1.3.6</div>
            }
            </div>
            @if ((HasFolders) && (Folders.Count < Admin.MaxFolderCount) && (!LoggedInUser.ViewOnlyMode))
            {
                <button class="@AddButtonStyle" title="Add A New Folder" @onclick=AddFolder></button>
            }
            @if (AddFolderMode)
            {
                <div class="@NewFolderStyle">
                    <ValidationComponent Name="NewFolderNameComponent" Parent="this" LabelTop="8" Unit="px"
                        LabelClassName="displayinlineblock colorgray204 left2" SetFocusOnFirstRender="true" Width="260"                         
                        Column1Width="40" Column2Width="200" HeightUnit="px" Height=24 Caption="Name:"
                        Left="-80" Top="36">                        
                    </ValidationComponent>
                </div>
            }
            @if ((HasSelectedFolder) && (HasAdmin) && (SelectedFolder.ImagesCount < Admin.MaxImagesPerFolder) && (!LoggedInUser.ViewOnlyMode) && (LoggedInUser.AcceptedTermsOfServiceDate.Year > 2000) && ((LoggedInUser.EmailVerified) || (!Admin.RequireEmailVerification)))
            {
                <FileUpload CustomSuccessMessage="Your file uploaded successfully." Parent="this"
                    OnReset="OnReset" ShowStatus="false"
                    PartialGuidLength="12" MaxFileSize=@UploadLimit FilterByExtension="true"
                    ShowCustomButton="true" OnChange="OnFileUploaded" Visible="false"
                    CustomButtonClassName="@BlueButton" AllowedExtensions=".jpg,.png"
                    ShowResetButton="false" AppendPartialGuid="true" ButtonText=""
                    CustomExtensionMessage="Only .png and .jpg extensions are allowed."
                    InputFileClassName="customfileupload" Status="Refresh" ResetButtonText=""
                    FileTooLargeMessage=@FileTooLargeMessage>
                </FileUpload>
            }
            <div class="@CheckMarkContainerStyle">
                <div class="@CheckMarkStyle"></div>
            </div>
            <div>
                <ConfirmationComponent Parent="this" Visible="@ShowConfirmation"></ConfirmationComponent>
            </div>
        }        
    </div>
    <main>
        <article class="content px-4">
            @if ((ScreenType == ScreenTypeEnum.Index) || (ScreenType == ScreenTypeEnum.MainScreen))
            {
                <div class="topleft">
                    @if (HasValidationMessage)
                    {
                        @ValidationMessage
                    }                    
                </div>
                <DataJuggler.BlazorGallery.Pages.Index Parent="this"></DataJuggler.BlazorGallery.Pages.Index>
            }
            else if (ScreenType == ScreenTypeEnum.TermsOfservice)
            {
                <TermsOfServiceComponent Parent="this" Prompt="Do you agree to these terms?"></TermsOfServiceComponent>
            }
            else if (ScreenType == ScreenTypeEnum.SetProfileVisibility)
            {
                <ProfileVisibility Parent="this" Prompt="Make your profile public?"></ProfileVisibility>
            }
            else if (screenType == ScreenTypeEnum.ViewImage)
            {
                <FullScreenImageViewer Parent="this" Image=@SelectedImage></FullScreenImageViewer>
            }
            else if (screenType == ScreenTypeEnum.EmailVerification)
            {
                <EmailVerification Parent="this" Name="EmailComponent" Email="@LoggedInUser.EmailAddress"></EmailVerification>
            }
        </article>
    </main>
</div>